<div class="flex flex-col gap-25 align-center justify-between">
  <div class="flex flex-col gap-10 align-center">
    <h1>@larscom/ng-qrcode-svg</h1>
    <ng-container *ngIf="value$ | async as value; else placeHolder">
      <qrcode-svg [value]="value"
        [size]="size"
        [borderSize]="(borderSize$ | async)!"
        [foregroundColor]="(foregroundColor$ | async)!"
        [backgroundColor]="(backgroundColor$ | async)!">
      </qrcode-svg>
    </ng-container>
    <ng-template #placeHolder>
      <div [style.backgroundColor]="(backgroundColor$ | async)!"
        [style.height]="size"
        [style.width]="size"></div>
    </ng-template>
  </div>

  <form [formGroup]="formGroup">
    <div class="flex gap-10 flex-col">

      <div class="flex gap-25 align-center">
        <label for="value">Value</label>
        <input id="value"
          formControlName="value" />
      </div>

      <div class="flex gap-25 align-center">
        <label for="borderSize">Border</label>
        <input id="borderSize"
          type="range"
          min="1"
          max="4"
          formControlName="borderSize">
      </div>

      <div class="flex gap-25 align-center">
        <label for="foregroundColor">Foreground</label>
        <input type="color"
          id="foregroundColor"
          formControlName="foregroundColor">
      </div>

      <div class="flex gap-25 align-center">
        <label for="backgroundColor">Background</label>
        <input type="color"
          id="backgroundColor"
          formControlName="backgroundColor">
      </div>

    </div>
  </form>

  <a href="https://github.com/larscom/ng-qrcode-svg"
    target="_blank"
    rel="noopener noreferrer">Source Code &hearts; Github</a>

</div>
